torch
pdf2image
redis
flask
opencv-python
transformers
easyocr
PyPDF2
pandas
pytesseract
xlsxwriter
scikit-learn
pdf2image
openpyxl
seaborn
fitz
PyMuPDF
dill
django
django-cors-headers
mysqlclient
pytz